.js .customize-control-openlab_footer_section .tmce-active .wp-editor-area {
    color: #000;
}

.js .customize-control-openlab_footer_section .wp-editor-tools {
	background: #eee;
}

.customize-control-openlab_footer_section .wp-editor-container {
	border: none;
}
